{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  {% with page_name='Cart' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

<script>
function saveOrder(){
    document.getElementById('save_order').click();
}
</script>
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container">

        <div class="section-title">
            <h2><span>Cart</span></h2>
        </div>

        {% if not empty %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST" class="wrapper">
            {% csrf_token %}
            <div class="row menu-container">
                {% for item in items %}
                <div class="col-lg-12 menu-item">
                    <div class="menu-content">
                        <a href="#">{{ item.item.name }}</a><span>${{ item.item.price | floatformat:2 }}</span>
                    </div>
                    <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="0">0 (remove)</option>
                        <option selected value="{{ item.quantity }}">{{ item.quantity }}</option>
                    </select> -->
                    <input type="number" class="form-control" value="{{ item.quantity }}" min="0" name="quantity_{{ item.item.id }}" onkeydown="if(event.key==='.'){event.preventDefault();}" onfocusout="saveOrder();">
                    <div class="menu-ingredients">
                        {% for recipe in item.item.recipe_set.all %}
                            {{ recipe.ingredient.name | capfirst }}{% if recipe != item.item.recipe_set.all.last %},&nbsp;{% endif %}
                        {%endfor%}
                        <!-- Mac sauce, diced onions, shredded lettuce, pickle, American cheese, meat, Big Mac bun -->
                    </div>
                </div>
                {% endfor %}

            <div class="col-lg-12 menu-item">
                <div class="menu-content">
                    <h4>Total</h4> <span>${{ current_order | order_price | floatformat:2 }}</span>
                </div>
            </div>
        </div>
        <!-- <button>Submit Order</button> -->
        <input class="btn btn-primary" type="submit" name="action" value="Place Order" />
        <input type="submit" name="action" id="save_order" value="Save" hidden="hidden" />
        </form>
        {% else %}
        <span>You don't have anything in your cart! Go to <a href="{% url 'menu' %}">Menu</a> to start a new order!</span>
        {% endif %}
    </div>
</section><!-- End Menu Section -->

{% endblock %}

