{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<div class="p-5"></div>
{% endblock %}

{% block content %}

<section class="inner-page">
    <div class="container d-none">
        <p>
            UI Design
        </p>
        <ul>
            <li>
                <h1><a href="{% url 'menu'%}">MENU PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'cart'%}">CART PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'orderHistory'%}">ORDER HISTORY PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'message'%}">MESSAGE PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'stockManagement'%}">STOCK MANAGEMENT PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'productManagement'%}">PRODUCT MANAGEMENT PAGE</a></h1>
            </li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div col-md-10 col-12 my-auto>
            <div class="mb-5">
                <h1>Please Log In to View All Pages</h1>
            </div>
            <div class="w-100 d-flex flex-column justify-content-start align-items-center my-5">
                <div class="lead mb-3">Task Assignment Sheet:</div>
                <iframe class="border w-100" style="height: 400px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vShqIeKIPRp0UmAWmrXm-Pb1tHZ-SEBNDsoMO1P-5idkvdK16uDeKFxGfPTn5pO6VbsA-U0G9CK3cTp/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>
            <div class="w-100 d-flex flex-column justify-content-start align-items-center">
                <div class="lead mb-3">Stage 3 document:</div>
                <iframe class="border" style="height: 3000px; width: 840px" src="https://docs.google.com/document/d/e/2PACX-1vRH7Nnxxtq89tTLz-diWnO4nlCW2IjBd1ZM63JbqC1LnlqoWvhvEh37uSXjNRuMM-SpPgU0lQvscCqz/pub?embedded=true"></iframe>
            </div>
        </div>
    </div>
</div>


{% endblock %}
