{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<div class="p-5"></div>
{% endblock %}

{% block content %}

<section class="inner-page">
    <div class="container">
        <p>
            UI Design
        </p>
        <ul>
            <li>
                <h1><a href="{% url 'menu'%}">MENU PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'cart'%}">CART PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'orderHistory'%}">ORDER HISTORY PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'message'%}">MESSAGE PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'stockManagement'%}">STOCK MANAGEMENT PAGE</a></h1>
            </li>
            <li>
                <h1><a href="{% url 'productManagement'%}">PRODUCT MANAGEMENT PAGE</a></h1>
            </li>
        </ul>
    </div>
</section>

<div class="container pb-2">
    <div class="row">
        <p class="lead">Task Assignment Sheet:</p>
    </div>
    <div class="row">
            <iframe class="border" style="width:80%; height: 350px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vShqIeKIPRp0UmAWmrXm-Pb1tHZ-SEBNDsoMO1P-5idkvdK16uDeKFxGfPTn5pO6VbsA-U0G9CK3cTp/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
    <div class="row">
        <p class="lead">Stage 3 document:</p>
    </div>
    <div class="row">
            <iframe class="border" style="width:80%; height: 350px;" src="https://docs.google.com/document/d/e/2PACX-1vRH7Nnxxtq89tTLz-diWnO4nlCW2IjBd1ZM63JbqC1LnlqoWvhvEh37uSXjNRuMM-SpPgU0lQvscCqz/pub?embedded=true"></iframe>
    </div>
  </div>


{% endblock %}
