{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  {% with page_name='Menu' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

<br />
<br />
<br />
<br />
<style>
    .details {
        border: 1.5px solid grey;
        color: #212121;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px #212121
    }

    .cart {
        background-color: #212121;
        color: white;
        font-size: 12px;
        font-weight: 900;
        width: 100%;
        box-shadow: 0px 5px 10px #212121
    }

    .card {
        width: fit-content
    }

    .card-body {
        width: fit-content
    }

    .btn {
        border-radius: 0
    }

    .img-thumbnail {
        border: none
    }

    .card {
        box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
        border-radius: 5px;
        padding-bottom: 10px;
	height: 100%;
    }
</style>

<section id="menu" class="menu">
    <div class="container">

        <div class="section-title">
            <h2>Our Delicious <span>Foods</span></h2>
            <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>


        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 h-100">
                    <div class='container-fluid h-100'>
                        <div class="card mx-auto col-md-3 col-10 mt-5">
                            <img class='mx-auto img-thumbnail' src=  {{product.image.url}} width="auto" height="auto" />
                            <div class="card-body text-center mx-auto">
                                <div class='cvp'>
                                    <h5 class="card-title font-weight-bold">{{product.name}}</h5>
                                    <p class="card-text">${{ product.price|floatformat:2 }}</p>
                                    <p class="card-text text-muted">
                                        {% for recipe in product.recipe_set.all%}
                                            {{recipe|ingredient_name}},&nbsp;

                                        {%endfor%}
                                    </p>
                                    <form class="row" method="POST">
                                        {% csrf_token %}
                                        <div class="col">
                                          <input type="number" class="form-control" value="1" min="0" name= "quantity_{{ product.id }}">
                                     </div>
                                        <div class="col">
                                           <button type="submit" class="btn cart px-auto">ADD TO CART</button>
                                     </div>
                                    </form>
                             </div>
                           </div>
                      </div>
                    </div>
                </div>
            {% endfor %}



{% endblock %}
