{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  {% with page_name='Messages' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

<!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2><span>Message</span></h2>
        </div>
        {% for message in messages %}
          {% if message.is_read %}
            <div class = "row">
              <div class="col-12">
                <form method="POST">
                  {% csrf_token %}
                  <input name="message_id" value="{{ message.id }}" class="d-none">
                  <input name="delete" class="d-none">
                  <div class="box overflow-auto" onclick="this.querySelector('p').innerHTML = 'You finished, congratulation!';this.parentElement.submit();">
                    <span>{{message.message}}</span>
                    <p>Alert checked, please refill supplies ASAP!</p>
                  </div>
                </form>
              </div>
            </div>
          {% else %}
            <div class ="row">
              <div class = "col-12">
                <form method="POST">
                  {% csrf_token %}
                  <input name="message_id" value="{{ message.id }}" class="d-none">
                  <div class="box overflow-auto" onclick="this.querySelector('p').innerHTML = 'Alert checked, please refill supplies ASAP!';this.parentElement.submit();">
                    <span>{{message.message}}</span>
                    <p>readMe</p>
                  </div>
                </form>
              </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
</section><!-- End Whu Us Section -->
{% endblock %}
