{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2><span>Message</span></h2>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box">
                    <span>Out of stock warning</span>
                    <p>March 18th, 13:22</p>
                    No catchup
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>Out of stock warning</span>
                    <p>March 17th, 13:22</p>
                    Can't make Cheeseburger
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>Low on stock warning</span>
                    <p>March 8th, 9:22</p>
                    Big Mac bun is low on stock
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <span>Out of stock warning</span>
                    <p>March 8th, 8:13</p>
                    No honey mustard
                </div>
            </div>
        </div>

    </div>
</section><!-- End Whu Us Section -->
{% endblock %}
