{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  {% with page_name='Order History' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

<!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2><span>Order History</span></h2>
        </div>
        <label for="order">Sort by:</label>
        <form method = "POST">
          {% csrf_token %}
          <select name="ordering" id="ordering" onchange="this.parentElement.submit();">
            <option value="id" {% if selected == 'id' %} selected {% endif %}>Id</option>
            <option value="date" {% if selected == 'date' %} selected {% endif %}>Date</option>
            <option value="price" {% if selected == 'price' %} selected {% endif %}>Price</option>
            <option value="status" {% if selected == 'status'%} selected {% endif %}>Status</option>
          </select>

        {% for order in orders %}
          <div class="box py-4 text-center">
            <div class="row">
              <div class="col-4">
                <span>{{ order.id }}</span>
                <p>Is complete: {{ order.is_complete }}</p>
                <p>{{ order.date }}</p>
              </div>
              <div class="col-8 overflow-auto">
                <p>Item in order:</p>
                {% for item in order|order_items %}
                   <p>{{item.item}}, {{item.quantity}}<p>
                {% endfor %}
              </div>
            </div>
              <p class="m-auto mt-4 text-center">total price: ${{ order|order_price }}<p>
          </div>
        {% endfor %}

        </form>

    </div>
</section><!-- End Whu Us Section -->

{% endblock %}
