{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  {% with page_name='Product Management' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

<style>

  #products {
    min-height: 70vh;
  }

  .product {
    border-top: thick solid rgba(0, 0, 0, 0.7);
    border-bottom: thick solid rgba(0, 0, 0, 0.7);
    position: relative;
    transition: border-color 0.5s;
  }

  .product:hover {
    border-color: white;
  }

  .thumbnail {
    min-width: 100px;
    min-height: 100px;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .caption {
    text-transform: capitalize;
    height: 2rem;
    width 100%;
  }

  .caption-input {
    visibility: hidden;
    position: fixed;
    height: 2rem;
    text-align: center;
    border-radius: 0;
    border-style: none;
    border-top: thin solid rgb(255, 176, 59);
    color: gray;
  }

  .caption-input:focus {
    color: black;
  }

  .product-details {
    visibility: hidden;
    position: fixed;
    overflow: scroll;
    align-items: center;
  }

  .ingredient {
    border-right: medium dashed rgba(0, 0, 0, 0.1);
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    min-width: 30%;
    position: relative;
  }

  .double-border {
    background-color: white;
    border-radius: 0;
    border-style: none;
    border-top: thin solid rgb(255, 176, 59);
    border-bottom: thin solid rgb(255, 176, 59);
    color: gray;
  }

  .double-border:focus {
    color: black;
  }

  button {
    background-color: rgba(255, 176, 59, 0.8);
    transition: background-color 0.5s, margin 0.5s, right 0.5s;
    visibility: hidden;
    position: fixed;
    border-style: none;
  }

  @media (min-width: 992px) {
    button{ right: 5px; }
  }

  button:hover {
    background-color: rgb(255, 176, 59);
    margin: 0 !important;
    right: 0;
  }

  .quantity {
    width: 5rem;
    height: 2rem;
    border-radius: 0;
    border-style: none;
    border-top: thin solid rgb(255, 176, 59);
    border-bottom: thin solid rgb(255, 176, 59);
    color: gray;
  }

  .quantity:focus {
    color: black;
  }

  label {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(255, 176, 59);
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.5s;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
  }

  .mask:hover {
    opacity: 0.9;
  }

  .remove-product > div > form > .mask {
    background-color: #dc3545;
  }

  .remove-product {
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 0, 0, 0.3);
  }

  #expended > .mask {
    display: none;
  }

  #expended > .mask-remove {
    display: block !important;
  }

  #expended button {
    visibility: visible !important;
    position: relative !important;
  }

  #expended .product-details {
    visibility: visible !important;
    min-height: calc(150px + 6rem);
    height: calc(15vw + 6rem);
    position: relative !important;
  }

  #expended .caption {
    visibility: hidden;
    position: absolute;
  }

  #expended .caption-input {
    visibility: visible !important;
    position: relative !important;
    display: block;
  }

  #expended {
    transition: 1s;
    flex: 0 0 100%;
    position: relative;
    border-top: thick solid rgb(255, 176, 59);
    border-bottom: thick solid rgb(255, 176, 59);
  }

  .remove-product #expended:hover {
    background-color: #dc3545;
    border-top: thick solid #dc3545;
    border-bottom: thick solid #dc3545;
  }

  .upload-image {
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: lighter;
  }

  .upload-image::file-selector-button {
    display: none;
  }

  .new-ingredient {
    color: rgba(0, 0, 0, 0.1);
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  }

  .new-ingredient:hover {
    color: white;
    background-color: rgba(255, 176, 59, 0.9);
    border-color: rgba(255, 176, 59, 0.9);
  }

  .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: small;
    font-weight: bold;
    color: gray;
    transition: color 0.5s, background-color 0.5s;
  }

  .remove:hover {
    color: white;
    background-color: #dc3545;
  }

  .new-product-btn {
    width: 12rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    transition: background-color 0.5s;
  }

  .new-product-btn:hover {
    background-color: rgb(255, 176, 59);
  }

  .remove-product-btn {
    width: 12rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    transition: background-color 0.5s;
  }

  .remove-product-btn:hover {
    background-color: #dc3545;
  }

  .cancel-remove-btn {
    width: 12rem;
    background-color: #dc3545;
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    transition: background-color 0.5s;
  }

  .cancel-remove-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal {
    visibility: hidden;
    position: fixed;
    display: block;
    overflow: hidden;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
  }

  .modal-dimmed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.4;
  }

  .modal-content {
    position: absolute;
    bottom: -100vh;
    left: 0;
    height: 50vh;
    width 100vw;
    margin: 0;
    z-index: 4;
    background-color: white;
    opacity: 0.9;
    border-radius: 0;
    transition: 0.5s;
  }

  .visible .modal-content {
    bottom: 0;
  }

  .modal-container {
    height: 30vh;
    width: 40vw;
    min-width: 20rem;
    margin: auto;
  }

  .add-product-btn {
    position: relative !important;
    visibility: visible !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.5s;
  }

  .add-product-btn:hover {
    background-color: rgb(255, 176, 59);
  }

</style>



<div id="modal">
  <div class="modal-dimmed" onclick="hideModal();">
  </div>
  <form class="modal-content" action="{% url 'productManagement' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="type" value="CREATE">
    <div class="modal-container d-flex flex-column justify-content-around">
      <input required type="text" class="double-border" name="name" placeholder="Enter Product Name">
      <input required type="number" class="double-border" step="0.01" name="price" placeholder="Enter Product Price">
      <div class="double-border d-flex justify-content-between">
        <div class="my-auto">Category:</div>
        <select class="double-border border-0" name="category">
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="add-product-btn" type="submit">Add Product</button>
    </div>
  </form>
</div>

<div class="container d-flex flex-row-reverse">
  <div class="remove-product-btn" onclick="removeProduct();">Remove Product</div>
  <div class="cancel-remove-btn d-none" onclick="cancelRemove();">Cancel</div>
  <div class="new-product-btn" onclick="showModal();">New Product</div>
</div>

<div id="products" class="container">
  <div class="d-flex flex-wrap justify-content-around">
    {% for product in products %}

      <form class="product m-3 text-center row"
        {% if product|id_is:id %}
          id="expended"
        {% endif %}
      onclick="showDetails(this);" enctype="multipart/form-data" action="{% url 'productManagement' id=product.id %}" method="POST">
        <input type="hidden" name="type" value="UPDATE">
        {% csrf_token %}
        <div class="product-image d-flex flex-column">

          <div class="position-relative">
            <img src="
              {% if product.image %}
                {{ product.image.url }}
              {% else %}
                {% static 'five_guys.png' %}
                {% endif %}
            " alt="" class="thumbnail">
            <div class="mask">
              <div class="centered">upload image</div>
              <input class="centered upload-image" type="file" name="image" accept="image/*" id="id_image">
            </div>
          </div>

          <div class="caption">{{ product.name }}</div>
          <input type="text" class="caption-input" name="product|name|{{ product.id }}" value="{{ product.name }}">
          <input type="number" class="caption-input price" step="0.01" name="product|price|{{ product.id }}" value="{{ product.price }}">
          <div class="caption-input w-100 d-flex justify-content-between">
            <div class="my-auto">Category:</div>
            <select class="double-border border-0" name="product|category_id|{{ product.id }}">
              <option value="{{ product.category.id }}">{{ product.category.name }}</option>
              {% for category in product|other_categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="product-details d-flex flex-wrap align-items-stretch justify-content-start col-md-8 col-sm-7">
          <div class="ingredient new-ingredient flex-md-grow-0 flex-grow-1" onclick="newIngredient(this, ''
            {% for ingredient in product|unused_ingredients %}
            + '<option value=\'{{ ingredient.id }}\'>{{ ingredient.name }}</option>'
            {% endfor %}
          );">
            <div class="centered">
              <i class="fa-solid fa-circle-plus fa-2xl mb-2"></i>
              <div>New Ingredient</div>
            </div>
          </div>
          {% for recipe in product.recipe_set.all %}
            <div class="ingredient flex-md-grow-0 flex-grow-1 d-flex flex-column justify-content-center">
              <div class="remove px-1" onclick="removeIngredient(this, {{ recipe.id }});">REMOVE</div>

              <div class="p-3 d-flex flex-nowrap justify-content-between">
                <label>Ingredient:&emsp;</label>
                <select class="double-border" name="recipe|ingredient_id|{{ recipe.id }}" onchange="updateUnit(this);">
                  <option value="{{ recipe|ingredient_id }}">{{ recipe|ingredient_name }}</option>
                  {% for ingredient in product|unused_ingredients %}
                  <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="p-3 d-flex flex-nowrap justify-content-between">
                <label>Quantity:&emsp;</label>
                <input class="quantity text-end" type="number" step=0.01 name="recipe|ingredient_quantity|{{ recipe.id }}" value={{ recipe|ingredient_quantity }}>
                <label class="unit">{{ recipe|ingredient_unit }}</label>
              </div>

            </div>
          {% endfor %}
        </div>

        <button class="col-md-1 col-sm-12 p-2 my-2" type="submit">Update</button>
        <div class="mask mask-product">
          <div class="centered">edit</div>
        </div>
      </form>

    {% endfor %}
  </div>
</div>

<script type="text/javascript">

    window.onload = showDetails(document.getElementById('expended'));

    function roundPrice(el) {
        let priceInput = el.querySelector('.price');
        priceInput.value = parseFloat(priceInput.value).toFixed(2);
    }

    function submitRemove(form) {
        form.querySelector('input').value = 'DELETE';
        form.submit();
    }

    function removeProduct() {
        document.querySelector('.cancel-remove-btn').classList.remove('d-none');
        document.querySelector('.remove-product-btn').classList.add('d-none');
        let products = document.getElementById('products');
        products.classList.add('remove-product');
        for (let mask of products.querySelectorAll('div.mask-product')) {
            mask.classList.add('mask-remove');
            mask.innerHTML = '<div class="centered">remove</div>'
            mask.onclick = function() { submitRemove(mask.parentElement); };
        }
    }

    function cancelRemove() {
        document.querySelector('.cancel-remove-btn').classList.add('d-none');
        document.querySelector('.remove-product-btn').classList.remove('d-none');
        let products = document.getElementById('products');
        products.classList.remove('remove-product');
        for (let mask of products.querySelectorAll('div.mask-product')) {
            mask.classList.remove('mask-remove');
            mask.innerHTML = '<div class="centered">edit</div>'
            mask.onclick = null;
        }
    }

    var unitOf = {
        {% for ingredient in ingredients %}
        {{ ingredient.id }}: '{{ ingredient.unit }}',
        {% endfor %}
    };

    function updateUnit(ingredient) {
        ingredient.parentElement.parentElement.querySelector('.unit').innerHTML = unitOf[ingredient.value];
    }

    function showDetails(product) {
        let previouslyShown = document.getElementById('expended');
        if (previouslyShown !== null) {
            previouslyShown.removeAttribute('id', 'expended');
            previouslyShown.querySelector('div').classList.remove('col-md-3');
            previouslyShown.classList.remove('row');
        }
        roundPrice(product);
        product.setAttribute('id', 'expended');
        product.classList.add('row');
        product.querySelector('div').classList.add('col-md-3');
    }

    function showModal() {
        document.getElementById('modal').classList.add('visible');
    }

    function hideModal() {
        document.getElementById('modal').classList.remove('visible');
    }

    function removeIngredient(el, id) {
        if (id >= 0) {
          let hiddenInput = document.createElement('input');
          hiddenInput.type = 'hidden';
          hiddenInput.name = 'remove_ingredient|' + id;
          hiddenInput.value = id;
          el.parentElement.insertAdjacentElement('beforebegin', hiddenInput);
        }
        el.parentElement.remove();
    }

    var newIgNum = 0;

    function newIngredient(el, options) {
        newIgNum++;
        let newIg = document.createElement('div');
        newIg.classList.add('ingredient', 'flex-md-grow-0', 'flex-grow-1');
        newIg.innerHTML = '' +
        '<div class="remove px-1" onclick="removeIngredient(this, -1);">REMOVE</div>' +
        '<div class="p-3 d-flex flex-nowrap justify-content-between">' +
          '<label>Ingredient:&emsp;</label>' +
          '<select class="double-border" name="new_ingredient|' + newIgNum + '" onchange="updateUnit(this);">' +
            '<option selected disabled>--</option>' +
            options +
          '</select>' +
        '</div>' +
        '<div class="p-3 d-flex flex-nowrap justify-content-between">' +
          '<label>Quantity:&emsp;</label>' +
          '<input required class="quantity text-end" type="number" step=0.01 name="new_ingredient_quantity|'+ newIgNum + '" value="1">' +
          '<label class="unit"></label>' +
        '</div>';
        el.insertAdjacentElement('afterend', newIg);
    }

</script>

{% endblock %}
