{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
{% with page_name='Stock Management' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container">

        <div class="section-title">
            <h2><span>Stock Management</span></h2>
        </div>

        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-4">
                <input class="form-control" placeholder="Ingredient name" name="name">
            </div>
            <div class="col-4">
                <select class="form-select" aria-label=".form-select-sm example" name="dropdown">
                    <option selected value="increase">Increase by</option>
                    <option value="decrease">Decrease by</option>
                    <option value="change">Change to</option>
                </select>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" placeholder="Quantity" name="quantity">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary" name="action" value="update">Update</button>
            </div>
        </form>
        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-3">
                <input class="form-control" placeholder="Ingredient name">
            </div>
            <div class="col-3">
                <select class="form-select" aria-label=".form-select-sm example">
                    <option selected>Category</option>
                    {% for item in categories %}
                    <option name="category">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" placeholder="Quantity">
            </div>
            <div class="col-2">
                <input class="form-control" placeholder="Unit">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-11">
                <input class="form-control" placeholder="Ingredient name">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
        <!-- <form method="POST">
            {% csrf_token %}
            {{ form }}
        </form> -->
        <br />
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li onclick="changeDropdown()" data-filter="*" class="filter-active">Show All</li>
                    {% for item in categories %}
                    <li onclick="changeDropdown()" data-filter=".filter-{{ item.name }}">{{ item.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row menu-container">
            {% for item in ingredients %}
            <div class="col-lg-3 menu-item filter-{{ item.category.name }}">
                <div class="menu-content">
                    <a href="#">{{ item.name }}</a><span>{{ item.quantity | floatformat:2 }} {{ item.unit }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End Menu Section -->

<script>
    function changeDropdown() {

    }
</script>

{% endblock %}
